In [1]:
import pandas as pd
import sys
import math

df = pd.DataFrame(pd.read_csv('Data3.csv'))
df

     Outlook Temperature Humidity Windy Play Tennis
0      Sunny         Hot     High     F           N
1      Sunny         Hot     High     T           N
2   Overcast         Hot     High     F           Y
3       Rain        Mild     High     F           Y
4       Rain        Cool   Normal     F           Y
5       Rain        Cool   Normal     T           N
6   Overcast        Cool   Normal     T           Y
7      Sunny        Mild     High     F           N
8      Sunny        Cool   Normal     F           Y
9       Rain        Mild   Normal     F           Y
10     Sunny        Mild   Normal     T           Y
11  Overcast        Mild     High     T           Y
12  Overcast         Hot   Normal     F           Y
13      Rain        Mild     High     T           N

In [2]:
attr = list(df.columns)
class_label = str(attr[len(attr)-1])
class_index = len(attr)-1

In [12]:
attr_distinct_values = {}
for i in attr:
    attr_distinct_values[i] = set()
print(attr_distinct_values)

{'Outlook': {'LOL', 'Apple'}, 'Temperature': {'LOL', 'Apple'}, 'Humidity': {'LOL', 'Apple'}, 'Windy': {'LOL', 'Apple'}, 'Play Tennis': {'LOL', 'Apple'}}

In [6]:
for ind,row in df.iterrows():
    row = list(row)
    print()

0
Outlook        Sunny
Temperature      Hot
Humidity        High
Windy              F
Play Tennis        N
Name: 0, dtype: object
1
Outlook        Sunny
Temperature      Hot
Humidity        High
Windy              T
Play Tennis        N
Name: 1, dtype: object
2
Outlook        Overcast
Temperature         Hot
Humidity           High
Windy                 F
Play Tennis           Y
Name: 2, dtype: object
3
Outlook        Rain
Temperature    Mild
Humidity       High
Windy             F
Play Tennis       Y
Name: 3, dtype: object
4
Outlook          Rain
Temperature      Cool
Humidity       Normal
Windy               F
Play Tennis         Y
Name: 4, dtype: object
5
Outlook          Rain
Temperature      Cool
Humidity       Normal
Windy               T
Play Tennis         N
Name: 5, dtype: object
6
Outlook        Overcast
Temperature        Cool
Humidity         Normal
Windy                 T
Play Tennis           Y
Name: 6, dtype: object
7
Outlook        Sunny
Temperature     Mild
Humidity        High
Windy              F
Play Tennis        N
Name: 7, dtype: object
8
Outlook         Sunny
Temperature      Cool
Humidity       Normal
Windy               F
Play Tennis         Y
Name: 8, dtype: object
9
Outlook          Rain
Temperature      Mild
Humidity       Normal
Windy               F
Play Tennis         Y
Name: 9, dtype: object
10
Outlook         Sunny
Temperature      Mild
Humidity       Normal
Windy               T
Play Tennis         Y
Name: 10, dtype: object
11
Outlook        Overcast
Temperature        Mild
Humidity           High
Windy                 T
Play Tennis           Y
Name: 11, dtype: object
12
Outlook        Overcast
Temperature         Hot
Humidity         Normal
Windy                 F
Play Tennis           Y
Name: 12, dtype: object
13
Outlook        Rain
Temperature    Mild
Humidity       High
Windy             T
Play Tennis       N
Name: 13, dtype: object